[Unit]
Description=Mount store

[Service]
Type=simple
Restart=always
ExecStartPre=mkdir -p /run/user/1000/rbmounts/store
ExecStart=sshfs -f root@192.168.122.1:/store /run/user/1000/rbmounts/store
ExecStop=umount -l /run/user/1000/rbmounts/store

[Install]
WantedBy=default.target
