[user]
	name = Robin Burchell
	email = robin+git@viroteck.net
[core]
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[diff]
	renames = copy
	noprefix = true
[color]
	diff = auto
[gc]
	# If there are many loose objects, pack them
	auto = 50
	# If there are too many packs, unify them
	autopacklimit = 5
[alias]
    ci = commit -a -v
    fixup = commit -v -m "fixup"
    ap = !sh -c 'git rev-list --reverse  | xargs -n1 git cherry-pick' -
    whatsup = 'git branch -a --sort=-committerdate'
    whatsmerged = 'git branch -a --merged'
    unadd = reset HEAD --
    unstage = reset HEAD --
    stage = add -v
    graph = log --pretty=oneline --topo-order --graph --abbrev-commit
    resetauthormail = "!f() { if [ -z $1 ]; then echo \"Author email not provided.\"; return 1; fi; GIT_AUTHOR_EMAIL=\"$1\" git commit --amend --reset-author; }; f"
[push]
	default = matching
[review "codereview.qt-project.org"]
	username = w00t
[rerere]
	enabled = true
[url "git@github.com:rburchell/"]
    insteadOf = rb:
[url "git@github.com:/"]
    insteadOf = gh:
[init]
	defaultBranch = master
