*
!/.Xresources
!/.bashrc
!/.config/QtProject/qtlogging.ini
!/.config/i3/config
!/.config/mimeapps.list
!/.config/systemd/user/default.target.wants/emacs.service
!/.config/systemd/user/emacs.service
!/.doom.d/config.el
!/.doom.d/init.el
!/.doom.d/packages.el
!/.emacs.d
!/.fonts.conf
!/.fonts/consola.ttf
!/.gdbinit
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.local/share/applications/emacs.desktop
!/.local/share/applications/exec-desktop.desktop
!/.profile
!/.screenrc
!/.sqliterc
!/.ssh/authorized_keys
!/.ssh/config
!/.ssh/pubkeys/lea.local.pub
!/.ssh/pubkeys/mia.local.pub
!/.tmux.conf
!/.zsh/compinstall
!/.zshrc
!/.local/bin/analsize
!/.local/bin/linux/ifconfig
!/.local/bin/configure-qt
!/.local/bin/configure-qt-static
!/.local/bin/dmake
!/.local/bin/e
!/.local/bin/exec.go
!/.local/bin/ffind
!/.local/bin/genlibtree.rb
!/.local/bin/git-applypatch
!/.local/bin/git-findmerged
!/.local/bin/git-maintainer
!/.local/bin/git-uploadpatch
!/.local/bin/gorun
!/.local/bin/launch-desktop
!/.local/bin/linux/configure-linux
!/.local/bin/linux/diotop
!/.local/bin/linux/disasm
!/.local/bin/linux/open
!/.local/bin/linux/pbcopy
!/.local/bin/linux/pbpaste
!/.local/bin/linux/schedtop
!/.local/bin/linux/swaptop
!/.local/bin/linux/tdump
!/.local/bin/oconvert
!/.local/bin/oomscoretree
!/.local/bin/pastebin
!/.local/bin/printscreen
!/.local/bin/printscreen-clipboard
!/.local/bin/qmake
!/.local/bin/rssanalyse.pl
!/.local/bin/safepy
!/.local/bin/ssh
!/.local/bin/ssh-generate-key
!/.local/bin/swaplist
!/.local/bin/syminfo.pl
!/.local/bin/upload
