*
!/.Xresources
!/.bashrc
!/.config/QtProject/qtlogging.ini
!/.config/i3/config
!/.config/mimeapps.list
!/.config/systemd/user/default.target.wants/emacs.service
!/.config/systemd/user/emacs.service
!/.doom.d/config.el
!/.doom.d/init.el
!/.doom.d/packages.el
!/.emacs.d
!/.fonts.conf
!/.fonts/consola.ttf
!/.gdbinit
!/.gitconfig
!/.gitignore
!/.gitmodules
!/.local/share/applications/emacs.desktop
!/.local/share/applications/exec-desktop.desktop
!/.profile
!/.screenrc
!/.sqliterc
!/.ssh/authorized_keys
!/.ssh/config
!/.ssh/pubkeys/lea.local.pub
!/.ssh/pubkeys/mia.local.pub
!/.tmux.conf
!/.zsh/compinstall
!/.zshrc
!/bin/analsize
!/bin/configure-qt
!/bin/dmake
!/bin/e
!/bin/exec.go
!/bin/ffind
!/bin/genlibtree.rb
!/bin/git-applypatch
!/bin/git-maintainer
!/bin/git-uploadpatch
!/bin/gorun
!/bin/launch-desktop
!/bin/linux/configure-linux
!/bin/linux/diotop
!/bin/linux/disasm
!/bin/linux/open
!/bin/linux/pbcopy
!/bin/linux/pbpaste
!/bin/linux/schedtop
!/bin/linux/swaptop
!/bin/linux/tdump
!/bin/oconvert
!/bin/oomscoretree
!/bin/pastebin
!/bin/printscreen
!/bin/printscreen-clipboard
!/bin/qmake
!/bin/rssanalyse.pl
!/bin/safepy
!/bin/ssh
!/bin/ssh-generate-key
!/bin/swaplist
!/bin/syminfo.pl
!/bin/upload
